<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p>State: North Carolina</p>
  <p>City: Charlotte</p>
  <p>Championships: 0</p>
  <p>Team Color:  White, Teal, Gray, Dark Purple.</p>
  <p>Current Rank: 9th in the East</p>
  <p>Coach: Steve Clifford</p>
  <p><img class = "pic" src = "images/hornets.jpg"</p>
<%- include('../partials/footer') %>