<%- include('../partials/header') %>

<h2>NBA Teams</h2>
  	<p><img class = "pic" src = "images/nba.jpg"</p>
  	<p>In this website, here I have a list of my favorite NBA teams. This will give a brief description on team and their current status in the NBA.</p>


<%- include('../partials/footer') %>

