<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p>State: Colorado</p>
  <p>City: Denver</p>
  <p>Championships: 0</p>
  <p>Team Color:  Midnight Blue, Sunshine Yellow, Flatirons Red and Skyline Blue.</p>
  <p>Current Rank: 2nd in the West</p>
  <p>Coach: Michael Malone</p>
  <p><img class = "pic" src = "images/nuggets.jpg"</p>
<%- include('../partials/footer') %>