<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p>State: Arizona</p>
  <p>City: Phoenix</p>
  <p>Championships: 0</p>
  <p>Team Color:  Orange, Purple, Yellow, Dark Gray, Light Gray, Black and White.</p>
  <p>Current Rank: 1st in the West</p>
  <p>Coach: Monty Williams</p>
  <p><img class = "pic" src = "images/suns.jpg"</p>
<%- include('../partials/footer') %>